alfred/data/json_2.1.0/*
alfred/data/__pycache__/*
alfred/env/__pycache__/*
alfred/gen/__pycache__/*
alfred/gen/agents/__pycache__/*
alfred/gen/game_states/__pycache__/*
alfred/gen/graph/__pycache__/*
alfred/gen/utils/__pycache__/*
virtualhome/dataset_utils/__pycache__/*
virtualhome/demo/__pycache__/*
virtualhome/simulation/__pycache__/*
virtualhome/simulation/environment/__pycache__/*
virtualhome/simulation/evolving_graph/__pycache__/*
virtualhome/simulation/unity_simulator/__pycache__/*
*.pyc
src/alfred/__pycache__/*
src/wah/__pycache__/*
outputs/*
